#articolo {
  background-color: rgb(255, 223, 181);
  margin: 1em;
  padding: 2em;
  border-radius: 40px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  margin-top: 0;
}

main h1 {
  margin: 0.2em;
}

section p {
  font-size: 2em;
}

@media screen and (min-width: 50px) {
  section {
    flex-direction: row;
  }
  section img {
    order: -1;
  }
}